<template>
  <div class="app">
    <Navigation></Navigation>
    <NuxtPage></NuxtPage>
  </div>
</template>
<script setup>
  definePageMeta({
    title: "My home page",
  });
</script>
<style scoped>
  .app {
    font-family: "Lato";
  }
</style>
