<template>
  <section class="bc">
    <div class="main">
      <div v-for="store in bcstores" :key="store" class="cart">
        <h4>{{ store.address.town }}</h4>
        <span>{{ store.address.line1 }}</span>
        <span>{{ store.address.line2 }}</span>
        <p>{{ store.address.email }}</p>
        <div class="tel">
          <Icon name="carbon:phone" width="24" heigh="24"></Icon>
          <span>
            {{ store.address.phone }}
          </span>
          <span v-show="store.address.phone !== store.address.phone2">{{ store.address.phone2 }}</span>
        </div>
        <div class="owner">
          <Icon name="ph:user-fill" width="24" height="24"> </Icon>
          <span>{{ store.address.firstName }}</span>
        </div>

        <a :href="'https://canadiantire.ca' + store.url" _target="blank">link</a>
        <div class="post">{{ store.address.postalCode }}</div>
      </div>
    </div>
  </section>
</template>

<script setup>
  const { data: bcdata } = await useFetch("/api/bc");
  let bcstores = ref(bcdata);
  let filtered = new Set(bcstores.value.map((t) => t.address.town));
  console.log(filtered);
</script>

<style scoped>
  .cart {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 1rem;
    padding: 1rem 1rem;
    gap: 1rem;
    height: 25rem;
    color: rgb(99, 99, 99);
    transition: 0.1s ease-out;
  }
  .cart:hover {
    transition: 0.1s ease-in;
    color: #2b2929;
    font-size: 18px;
    box-shadow: 0 0 40px grey;
  }
  .main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 6rem;
  }
  .tire {
    background-color: #2d2d2d;
  }
  .tel {
    display: flex;
    gap: 0.5rem;
  }
</style>
