<template>
  <button class="btn">
    <slot />
  </button>
</template>

<script setup></script>

<style scoped>
  .btn {
    width: 5rem;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: rgb(111, 0, 255);
    color: white;
    border: none;
  }
</style>
