<template>
  <nav class="nav">
    <div class="left">
      <NuxtLink class="link" to="/">Home</NuxtLink>
    </div>
    <div class="right">
      <NuxtLink class="link" to="/Login">Login</NuxtLink>
      <NuxtLink class="link" to="/Register">Register</NuxtLink>
      <NuxtLink class="link" to="/tire">Canadain Tire</NuxtLink>
      <NuxtLink class="link" to="/marks">Marks</NuxtLink>
    </div>
  </nav>
</template>

<script>
  export default {
    name: "Navigation",
  };
</script>

<style scoped>
  .nav {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
  }
  .link {
    text-decoration: none;
    transition-timing-function: ease-out;
    transition: 0.2s;
  }
  .link:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    font-size: 18px;
  }
  .right {
    display: flex;
    gap: 2rem;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
</style>
