<template>
  <section class="home">
    <h1>Welcome to store List Info</h1>
    <p>Find the Information for a variaety of retaile stores for free</p>
    <h2>across Canada</h2>
    <Icon name="ri:amazon-fill" width="96" height="96" class="icon"></Icon>
    <Icon name="uiw:star-on" width="96" height="96" class="icon"></Icon>
    <a href="../assets/mehrdad.jpeg" _target="blank" download>download this</a>
  </section>
</template>

<script setup>
  definePageMeta({
    title: "My home page",
  });
</script>

<style scoped>
  .home {
    color: rgb(30, 0, 179);
  }
  .icon {
  }
</style>
