<template>
  <section class="container">
    <div class="cart" v-for="store in mstores" :key="store">
      <h4>{{ store.name }}</h4>
      <h5>{{ store.displayName }}</h5>
      <p>{{ store.address.town }}</p>
      <p>{{ store.address.province }}</p>
      <p>{{ store.address.line1 }}-{{ store.address.line2 }}</p>
      <div class="uniform">
        <Icon name="et:map-pin" width="24" height="24"></Icon>
        <p>{{ store.address.postalCode }}</p>
      </div>
      <div class="uniform">
        <Icon name="cil:phone" width="24" height="24"></Icon>
        <p>{{ store.address.phone }}</p>
      </div>
      <div class="uniform">
        <Icon name="simple-line-icons:envelope" width="24" height="24"></Icon>
        <p>{{ store.address.email }}</p>
      </div>
    </div>
  </section>
</template>

<script setup>
  let { data: marksdata } = await useFetch("/api/marks");
  let mstores = ref(marksdata);
</script>

<style scoped>
  * {
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
  }
  .cart {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem 1rem;
    gap: 1rem;
    width: 20rem;
  }
  .cart:hover {
    color: rgb(54, 0, 191);
    border: 1px solid rgb(54, 0, 191);
    transition: 0.3s ease-in;
  }
  .uniform {
    display: flex;
    gap: 0.5rem;
  }
</style>
