<template>
  <section class="tire">
    <h1>Canadian Tire Stores</h1>
    <section>
      <Button>press me</Button>
    </section>
    <BCstores />
  </section>
</template>

<script setup>
  // let { data: storedata } = await useFetch("/api/tire");
  // let stores = ref(storedata);
</script>

<style scoped>
  .cart {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    gap: 1rem;
    height: 20rem;
    overflow: hidden;
    color: grey;
    transition: 0.1s ease-out;
  }
  .cart:hover {
    transition: 0.1s ease-in;
    color: #d4d4d4;
    font-size: 17px;
    box-shadow: 0 0 40px rgb(179, 179, 179);
  }
  .main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  .tire {
  }
  .tel {
    display: flex;
    gap: 0.5rem;
  }
</style>
